/*
#row{
display: flex;
margin-right:200px
}
*/
#header{
padding: 100px auto;!important
margin:100px;!important
}

footer {
  background-color: blue;
  position: absolute;
  bottom: 0;
  left: 0;

  right: 0;
}



background: #9fc2cc;

#id23{
padding: 600px auto;!important
margin:600px;!important
}

d2d