<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/photo/favicon.ico" type="img/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #333a40">
    <div class="container">
        <a class="navbar-brand" href="/">BerezaShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="mens-shoes" class="nav-link btn btn-secondary text-light border " style="margin-right: 2px;">Мужские
                        кроссовки</a>
                </li>
                <li class="nav-item">
                    <a href="female-shoes" class="nav-link btn btn-secondary text-light border" style="margin-right: 2px;">Женские
                        кроссовки</a>
                </li>
                <li class="nav-item">
                <li class="nav-item">
                    <a href="children-shoes" class="nav-link btn btn-secondary text-light border" style="margin-right: 2px;">Подростковые
                        кроссовки</a>
                </li>
            </ul>
            <form>
                <ul class="navbar-nav" id="menu2">
                    <li class="nav-item">
                        <a href="#" class="nav-link btn btn-secondary text-light border "
                           style="margin-right: 2px;">Корзина</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link btn btn-secondary text-light border"
                           style="margin: 0px 0px 0px 0px;">Личный
                            кабинет</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<footer>
    <div class="navbar fixed-bottom" id="footer" style="background-color: #333a40;">
        <div class="container">
            <article class="text-light ">"Это больше, чем обувь. Это философия."</article>

            <a class="btn btn-secondary text-light border">Контакты</a>
        </div>
    </div>
</footer>
{% block footer %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>