{% extends 'base.html' %}
{{ super() }}

{% block title%}
Женская обувь обувь
{% endblock %}


{% block header %}{% endblock %}


{% block content %}
<div class="container" id="Card">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for el in data %}
        <div class="col">
            <div class="card h-100 border-secondary text-center">
                <img src="{{ el.img }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ el.title }}</h5>
                    <p class="card-text">T{{ el.description }}</p>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="card-group">
    {% for el in data %}
    <div class="card col">
        <img src="{{ el.img }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ el.title }}</h5>
            <p class="card-text">{{ el.description }}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    {% endfor %}
</div>

    {% endblock %}


    {% block footer %}{% endblock %}